@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {

}

.pink {
  background-color: #feafc3;
}

.blue {
  background-color: #69A9FF;
}

.orange {
  background-color: #FCC850;
}

header {
  max-width: 1170px;
  margin: 0 auto;
}
.header-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.header-logo {
  vertical-align: top;
}

.main-navigation-item:first-child {
  margin-right: 16px;
}

.main-navigation-item:first-child .main-navigation-link {
  padding: 0;
}

.main-navigation-link {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
}

.main-navigation-item:not(:first-child) > .main-navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.main-navigation-item:not(:first-child) > .main-navigation-link:active {
  background-color: #fcfcfc;
  border-radius: 30px;
}

.main-navigation-item:not(:first-child) > .main-navigation-link:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  box-sizing: border-box;
  outline: 2px solid #2D3440;
  outline-offset: -2px;
  border-radius: 30px;
}

.main-navigation-item.active:not(:first-child) > .main-navigation-link {
  background: #FF4A78;
  border-radius: 30px;
  color: #fcfcfc;
}

.user-navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}

.header-telephone {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
}

.header-search-button {
  border: none;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0.3);
  cursor: pointer;
}

.header-search-button-icon {
  fill: #2D3440;
}

.header-login-button {
  position: relative;
  border: none;
  display: block;
  border-radius: 30px;
  background-color: rgba(252, 252, 252, 0.3);
  padding: 6px 16px 6px 38px;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.header-login-button-icon {
  position: absolute;
  top: calc(50% - 9px);
  left: 16px;
  fill: #2D3440;
}

.header-cart-button {
  position: relative;
  border: none;
  display: block;
  border-radius: 30px;
  background-color: rgba(252, 252, 252, 0.3);
  padding: 6px 16px 6px 38px;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.header-cart-button-icon {
  position: absolute;
  top: calc(50% - 9px);
  left: 16px;
  fill: #2D3440;
}

.slider {
  position: relative;
  max-width: 1170px;
  margin: 42px auto 0 auto;

}

.slider-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.slider-list-item {
  display: flex;
}

.slider-item-text-wrapper {
  max-width: 470px;
  padding-left: 70px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider-item-title {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  color: #2D3440;
}

.slider-item-description {
  max-width: 413px;
  margin: 24px 0 0 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2D3440;
}

.slider-item-button {
  display: block;
  margin-top: 48px;
  width: max-content;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  padding: 12px 32px;
  background-color: #FCFCFC;
  border: none;
  border-radius: 26px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #2D3440;
}

.main-button:hover {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 4px solid #FCFCFC;
}

.main-button:active {
  background-color: #fcfcfc;
  outline: 4px solid #2D3440;
}

.main-button:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 4px solid #2D3440;
}

.main-button:disabled {
  background-color: #E7E7E7;
  color: #B9B9B9;
  outline: 4px solid rgba(252, 252, 252, 0.4);
}

.main-button.loading {
  background-color: #FCFCFC;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  padding-right: 56px;
  background-image: url("../images/icons/spinner.svg");
  background-repeat: no-repeat;
  background-position: right 30px bottom 50%;
}

.slider-images-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.slider-image {
  vertical-align: top;
}

.slider-images-item {
  position: relative;
}

.slider-images-item:nth-child(2) {
  margin-right: 40px;
}

.slider-images-item.active {
  margin-right: 63px;
}

.slider-images-item:not(.active) {
  width: 100px;
  height: 150px;
}

.slider-images-item:not(.active) .slider-image {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.slider-images-item:not(.active)::before {
  position: absolute;
  display: block;
  border-radius: 50%;
  content: "";
  width: 100px;
  height: 100px;
  opacity: 0.4;
  top: calc(50% - 50px);
}

body.pink .slider-images-item::before {
  background-color: #ffcbd8;
}

body.orange .slider-images-item::before {
  background-color: #FCDC92;
}

body.blue .slider-images-item::before {
  background-color: #9FC8FF;
}

.slider-images-item.active::before {
  position: absolute;
  display: block;
  border-radius: 50%;
  content: "";
  width: 312px;
  height: 312px;
  background-color: #ffcbd8;
  top: calc(50% - 156px);
  z-index: -1;
}

.slider-buttons {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  bottom: -24px;
  left: 0;
}

.slider-toggle-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 50%;
  gap: 8px;
  align-self: end;
}

.slider-toggle-button {
  display: block;
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0.3);
  cursor: pointer;
}

.slider-toggle-button.active {
  background-color: #FCFCFC;
}

.slider-toggle-button:hover {
  box-sizing: border-box;
  outline: 1px solid #FCFCFC;
  outline-offset: -1px;
}

.slider-toggle-button:active {
  background-color: rgba(252, 252, 252, 0.5);
  outline: none;
}

.slider-toggle-button:focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 1px solid #2D3440;
  outline-offset: -1px;
}

.slider-social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 104px;
}

.slider-social-link {
  position: relative;
  display: block;
  border-radius: 50%;
  outline: 2px solid rgba(252, 252, 252, 0.3);
}

/*TODO: артефакты при наведении :hover, торчит черный фон по краям*/
.slider-social-link:hover::before {
  position: absolute;
  width: 20px;
  height: 20px;
  content: "";
  background-color: #2D3440;
  right: 10%;
  border-radius: 50%;
  z-index: -1;
  outline-offset: 0;
}

.slider-social-link:active {
  opacity: 0.5;
}

.slider-social-link:active::before {
  position: absolute;
  width: 20px;
  height: 20px;
  content: "";
  background-color: #2D3440;
  right: 10%;
  border-radius: 50%;
  z-index: -1;
}

.slider-social-link:focus-visible {
  outline: 2px solid #2D3440;
  outline-offset: 0;
}

.slider-social-link:focus-visible::before {
  position: absolute;
  width: 20px;
  height: 20px;
  content: "";
  background-color: #2D3440;
  right: 10%;
  border-radius: 50%;
  z-index: -1;
}

.slider-social-image {
  vertical-align: top;
}

.slider-switch-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 350px;
  position: absolute;
  top: calc(50% - 19px);
  right: 276px;
}

.slider-switch-buttons-item {
  position: relative;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid #FCFCFC;
  background: rgba(252, 252, 252, 0.3);
  cursor: pointer;
}

.slider-switch-buttons-item-icon {
  position: absolute;
  top: calc(50% - 6px);
  left: calc(50% - 4px);
  fill: #FCFCFC;
}

.slider-switch-buttons-item:hover {
  background-color: #FCFCFC;
}

.slider-switch-buttons-item:hover .slider-switch-buttons-item-icon {
  fill: #2D3440;
}

.slider-switch-buttons-item:active {
  background-color: rgba(252, 252, 252, 0.5);
  border: none;
}

.slider-switch-buttons-item:active .slider-switch-buttons-item-icon {
  fill: #2D3440;
}

.slider-switch-buttons-item:focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  border-color: #2D3440;
  outline: none;
}

.slider-switch-buttons-item:focus-visible .slider-switch-buttons-item-icon {
  fill: #2D3440;
}

.slider-switch-buttons-item:disabled {
  opacity: 0.4;
  background-color: rgba(252, 252, 252, 0.3);
  border-color: #FCFCFC;
}

.slider-switch-buttons-item:disabled .slider-switch-buttons-item-icon {
  fill: #FCFCFC;
}

.slider-switch-buttons-item.button-right {
  transform: rotate(180deg);
}

.header-search-button:hover,
.header-login-button:hover,
.header-cart-button:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.header-search-button:active,
.header-login-button:active,
.header-cart-button:active {
  background-color: #FCFCFC;
}

.header-search-button:focus-visible,
.header-login-button:focus-visible,
.header-cart-button:focus-visible {
  outline: 2px solid #2D3440;
  outline-offset: -2px;
}

.header-search-button.active,
.header-login-button.active,
.header-cart-button.active {
  background-color: #FF4A78;
  color: #FCFCFC;
}

.header-search-button.active > .header-search-button-icon,
.header-login-button.active > .header-login-button-icon,
.header-cart-button.active > .header-cart-button-icon {
  fill: #FCFCFC;
}